body {
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    background-color: rgba(128, 128, 128, 0.5);
    padding: 8px;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    font-size: 18px;
    
}

footer {
    text-align: center;
    margin-top: 20px;
    height: 5vh;
    background-color: rgba(128, 128, 128, 0.5);
    padding: 8px;
}

@media (max-width: 400px) {
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 18px;
    }
    h4 {
        font-size: 16px;
    }
    body {
        font-size: 16px;
    }
}