.hidden {
  display: none;
}

.level1-background {
  background-image: url("../assets/level-one/background-canvas.png");
  background-size: cover;
  background-position: center;
}

.level1-game-container {
  border: 2px solid rgb(242, 202, 0, 0.3);
}

.level2-background {
  background-image: url("../assets/level-two/backgroundEgyptOutCanvas.png");
  background-size: cover;
  background-position: center;
}

.level2-game-container {
  border: 2px solid rgb(0, 162, 232, 0.3);
}

.level3-background {
  background-image: url("../assets/level-three/Background-levelThreeScene.png");
  background-size: cover;
  background-position: center;
}

.level3-game-container {
  border: 2px solid rgb(242, 202, 0, 0.3);
}
.level4-background {
  background-image: url("../assets/level-four/factory-background-canvas.png");
  background-size: cover;
  background-position: center;
}

.level4-game-container {
  border: 4px solid rgba(0, 0, 0, 0.781);
}

.level5-background {
  background-image: url("../assets/level-five/backgroundOutCanvas.png");
  background-size: cover;
  background-position: center;
}

.level5-game-container {
  border: 2px solid rgb(242, 202, 0, 0.3);
}
.levelOutro-background {
  background-color: black;
  background-size: cover;
  background-position: center;
}

.levelOutro-game-container {
  border: 2px solid rgb(242, 202, 0, 0.3);
}
