.hidden {
  display: none;
}

.level-game-container {
  border: 2px solid rgb(242, 202, 0, 0.3);
}

.level1-background {
  background-image: url("../assets/level-one/background-canvas.png");
  background-size: cover;
  background-position: center;
}

.level2-background {
  background-image: url("../assets/level-two/backgroundEgyptOutCanvas.png");
  background-size: cover;
  background-position: center;
}

.level3-background {
  background-image: url("../assets/level-three/Background-levelThreeScene.png");
  background-size: cover;
  background-position: center;
}

.level4-background {
  background-image: url("../assets/level-four/factory-background-canvas.png");
  background-size: cover;
  background-position: center;
}

.level5-background {
  background-image: url("../assets/level-five/backgroundOutCanvas.png");
  background-size: cover;
  background-position: center;
}

.levelOutro-background {
  background-image: none;
  background-color: black;
  background-size: cover;
  background-position: center;
}
