body {
  margin: 0;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  display: block;
  margin: 0 auto;
}

#layout-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
}

#game-container canvas {
  display: block;
}

#side-left,
#side-right {
  width: 250px;
  height: auto;
  object-fit: contain;
}
