body {
  margin: 0;
  background: #e4e0e0; /* Seite auch schwarz */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#layout-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Abstand zwischen Bildern und Canvas */
  padding-top: 20px;
}

#game-container canvas {
  display: block;
}

#side-left,
#side-right {
  width: 250px; /* Größe anpassen */
  height: auto;
  object-fit: contain;
}
